.attend {
    height: 100vh;
    padding: 0 12px;
}

.attend-card {
    margin-bottom: 12px;
    padding: 10px;
}

.attend-card-footer {
    padding-top: 11px;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}