.basic-layout{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.basic-layout-header{
    height: 64px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(83, 97, 255, .05);
}
.basic-layout-main{
    flex: 1;
    display: flex;
}
.basic-layout-aside{
    width: 208px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(83, 97, 255, .05);
}
.basic-layout-article{
    margin: 16px 0 0 16px;
    flex: 1;
    background: #fff;
    border-radius: 8px 0 0 0;
    height: 100%;
}